In [1]:
import pandas as pd

In [8]:
# (1) 다음의 결과내용으로 참조하여 Series를 생성하고 동일하게 출력한다.

print('방법1','-'*30)
data = {'0':'10', '1':'20', '2':'30', '3':'40', '4':'50'}
s1 = pd.Series(data)
print(type(s1))
print(s1)
print('\n')
print('방법2','-'*30)
s2 = pd.Series(['10','20','30','40','50'], index = ['0','1','2','3','4'])
print(type(s2))
print(s2)

방법1 ------------------------------
<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: object


방법2 ------------------------------
<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: object

In [10]:
#(2) 다음의 결과내용으로 참조하여 Series를 생성하고 동일하게 출력한다.

print('방법1','-'*30)
data2 = {'a':'1','b':'2','c':'3','d':'4','e':'5' }
s1 = pd.Series(data2)
print(type(s1))
print(s1)
print('\n')

print('방법2','-'*30)
s2 = pd.Series(['1','2','3','4','5'], index = ['a','b','c','d','e'])
print(type(s2))
print(s2)

방법1 ------------------------------
<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: object


방법2 ------------------------------
<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: object

In [11]:
# (3) 다음의 결과내용으로 참조하여 Series를 생성하고 동일하게 출력한다.(딕셔너리로 생성)

stu_data = {'학생1':'둘리','학생2':'또치','학생3':'도우너','학생4':'희동이','학생5':'마이콜'}
s1 = pd.Series(stu_data)
print(type(s1))
print(s1)

학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [15]:
#(4) 다음의 결과내용으로 참조하여 Series를 생성하고 동일하게 출력한다.(리스트로 생성)

s2 = pd.Series(['둘리','또치','도우너','희동이','마이콜'], index = ['학생1','학생2','학생3','학생4','학생5'])
print(type(s2))
print(s2)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [31]:
df

     values
A형     34.2
B형     27.1
O형     26.7
AB형    11.5

In [42]:
#(5) 다음에 제시된 소스로 Series를 생성하고 동일하게 제시된 결과 화면과 같이 출력하도록 구현한다.
import pandas as pd

blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)

print('[시리즈 sr 출력]')
print(type(sr))
print(sr)
# print('\n') # ---------------
# df = pd.DataFrame(sr)
# print(type(df))
# print(df)
# print('-'*50)
print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]------------------------')
df = pd.DataFrame(sr)
# print(df.columns)
df.columns = ['values']
print('type :',type(df.values))

print(df.values)

print(df.iloc[1,:])


print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]---------------------------')


#print(df.loc['B형'])

print('[시리즈 sr의 크기 출력]')
print(len(sr))

print('[시리즈 sr의 인덱스 출력]')
# print('index :',df.index)
print(df.index)

print('[시리즈 sr의 데이터 값 출력]---------------------------------------')

[시리즈 sr 출력]
<class 'pandas.core.series.Series'>
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]------------------------
type : <class 'numpy.ndarray'>
[[34.2]
 [27.1]
 [26.7]
 [11.5]]
values    27.1
Name: B형, dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]---------------------------
[시리즈 sr의 크기 출력]
4
[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
[시리즈 sr의 데이터 값 출력]---------------------------------------

In [ ]:
#(6) 다음의 결과내용으로 참조하여 DataFrame을 생성하고 동일하게 출력한다.

In [ ]:
#(7) 다음의 결과내용으로 참조하여 DataFrame을 생성하고 동일하게 출력한다.

In [ ]:
#(8) 7번 문제에서 생성한 DataFrame에서 인덱스와 컬럼명을 다음과 같이 변경하여 출력한다.

In [ ]:
#(9) 다음에 제시된 내용으로 DataFrame 을 생성하고 서브 문제에서 제시된 기능을 구현한다.

In [ ]:
#(10) 9번 문제에서 사용한 df 라는 DataFrame의 숫자 index를 다음과 같이 name 컬럼으로 변경하고 df 를 출력한다.